h1 {
    font-family: 'Rubik Gemstones', cursive
}

h2 {
    font-family: 'Roboto Slab', serif;
    color: #8080ff;
    text-shadow: 1px 1px 2px #8080ff;
    
}

body {
    font-family: 'Roboto Slab', serif;
}

html { 
    background: url(./images/goblinmode.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.sections {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}


